<div class="panel-group" id="accordion">
	<!-- 1 панель -->
	<div class="panel panel-primary">
		<!-- Заголовок 1 панели -->
		<a class='panel-heading' data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
			<h4 class="panel-title">Математика 6 класс</h4>
		</a>
		<!-- Содержимое 1 панели -->
		<div id="collapseOne" class="panel-collapse collapse in">
			<div class="panel-body">
				<ul>
					<li><a href="data1-m6-001.html">Пояснительная записка</a></li>
					<li><a href="data1-m6-002.html">Общая характеристика курса математики</a></li>
					<li><a href="data1-m6-003.html">Место предмета в учебном плане школы</a></li>
					<li><a href="data1-m6-004.html">Личностные, метапредметные и предметные результаты освоения курса</a></li>
					<li><a href="data1-m6-005.html">Содержание курса</a></li>
					<li><a href="data1-m6-006.html">Планируемые результаты обучения</a></li>
					<li><a href="data1-m6-007.html">Оценка достижения предметных результатов</a></li>
					<li><a href="data1-m6-008.html">Тематическое планирование</a></li>
					<li><a href="data1-m6-009.html">Методическое и техническое обеспечение</a></li>
				</ul>
			</div>
		</div>
	</div>
	<!-- 2 панель -->
	<div class="panel panel-primary">
		<!-- Заголовок 2 панели -->
		<a class='panel-heading' data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">
			<h4 class="panel-title">Алгебра 7-9 классы</h4>
		</a>
		<!-- Содержимое 2 панели -->
		<div id="collapseTwo" class="panel-collapse collapse">
			<div class="panel-body">
				<ul>
					<li><a href="data1-a9-001.html">Пояснительная записка</a></li>
					<li><a href="data1-a9-002.html">Общая характеристика учебного предмета</a></li>
					<li><a href="data1-a9-003.html">Место предмета в учебном плане школы</a></li>
					<li><a href="data1-a9-004.html">Требования к уровню подготовки обучающихся </a></li>
					<li><a href="data1-a9-005.html">Содержание курса</a></li>
					<li><a href="data1-a9-006.html">Тематическое планирование</a></li>
					<li><a href="data1-a9-007.html">Методическое и техническое обеспечение</a></li>
				</ul>
			</div>
		</div>
	</div>
	<!-- 3 панель -->
	<div class="panel panel-primary">
		<!-- Заголовок 3 панели -->
		<a class='panel-heading' data-toggle="collapse" data-parent="#accordion" href="#collapseThree">
			<h4 class="panel-title">Геометрия 7-9 классы</h4>
		</a>
		<!-- Содержимое 3 панели -->
		<div id="collapseThree" class="panel-collapse collapse">
			<div class="panel-body">
				<ul>
					<li><a href="data1-g9-001.html">Пояснительная записка</a></li>
					<li><a href="data1-g9-002.html">Общая характеристика учебного предмета</a></li>
					<li><a href="data1-g9-003.html">Место предмета в учебном плане школы</a></li>
					<li><a href="data1-g9-004.html">Требования к уровню подготовки обучающихся </a></li>
					<li><a href="data1-g9-005.html">Содержание курса</a></li>
					<li><a href="data1-g9-006.html">Тематическое планирование</a></li>
					<li><a href="data1-g9-007.html">Методическое и техническое обеспечение</a></li>
				</ul>
			</div>
		</div>
	</div>
</div>
