<div class="panel-group" id="accordion">
	<!-- 1 панель -->
	<div class="panel panel-primary">
		<!-- Заголовок 1 панели -->
		<a class='panel-heading' data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
			<h4 class="panel-title">Должностные обязанности классного руководителя</h4>
		</a>
		<!-- Содержимое 1 панели -->
		<div id="collapseOne" class="panel-collapse collapse">
			<div class="panel-body">
				<ul>
					<li><a href="data2-1-001.html">Общие положения</a></li>
					<li><a href="data2-1-002.html">Цель и задачи деятельности классного руководителя</a></li>
					<li><a href="data2-1-003.html">Функции классного руководителя</a></li>
					<li><a href="data2-1-004.html">Формы работы классного руководителя</a></li>
					<li><a href="data2-1-005.html">Критерии оценки осуществления функций классного руководителя</a></li>
					<li><a href="data2-1-006.html">Режим работы классного руководителя</a></li>
					<li><a href="data2-1-007.html">Права и обязанности классного руководителя</a></li>
					<li><a href="data2-1-008.html">Ответственность</a></li>
					<li><a href="data2-1-009.html">Права и обязанности директора</a></li>
				</ul>
			</div>
		</div>
	</div>

	<!-- 2 панель -->
	<div class="panel panel-primary">
		<!-- Заголовок 2 панели -->
		<a class='panel-heading' data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">
			<h4 class="panel-title">Воспитательная система класса "Истоки духовности"</h4>
		</a>
		<!-- Содержимое 2 панели -->
		<div id="collapseTwo" class="panel-collapse collapse in">
			<div class="panel-body">
				<ul>
					<li><a href="data2-2-001.html">Нормативно-правовая и методологическая основы программы</a></li>
					<li><a href="data2-2-002.html">Актуальность проблемы духовно-нравственого воспитания школьников</a></li>
					<li><a href="data2-2-003.html">Этапы реализации программы</a></li>
					<li><a href="data2-2-004.html">Цели и задачи программы</a></li>
					<li><a href="data2-2-005.html">Ожидаемые результаты</a></li>
					<li><a href="data2-2-006.html">Основные направления работы</a></li>
					<li><a href="data2-2-007.html">Диагностика</a></li>
					<li><a href="data2-2-008.html">Работа с родителями</a></li>
				</ul>
			</div>
		</div>
	</div>

	<!-- 3 панель -->
	<div class="panel panel-primary">
		<!-- Заголовок 3 панели -->
		<a class='panel-heading' data-toggle="collapse" data-parent="#accordion" href="#collapseThree">
			<h4 class="panel-title">На заметку</h4>
		</a>
		<!-- Содержимое 3 панели -->
		<div id="collapseThree" class="panel-collapse collapse">
			<div class="panel-body">
				<ul>
					<li><a href="data2-3-001.html">Перечень документов классного руководителя</a></li>
					<li><a href="data2-3-002.html">Циклограмма классной работы</a></li>
					<li><a href="data2-3-003.html">Задачи воспитательной деятельности</a></li>
					<li><a href="data2-3-004.html">Перечень возможных дел класса</a></li>
					<li><a href="data2-3-005.html">Памятка классному руководителю</a></li>
				</ul>
			</div>
		</div>
	</div>

	<!-- 4 панель -->
	<div class="panel panel-primary">
		<!-- Заголовок 4 панели -->
		<a class='panel-heading' data-toggle="collapse" data-parent="#accordion" href="#collapseFour">
			<h4 class="panel-title">Фотогалерея</h4>
		</a>
		<!-- Содержимое 4 панели -->
		<div id="collapseFour" class="panel-collapse collapse">
			<div class="panel-body">
				<ul>
					<li><a href="data2-4-001.html">февраль 2016</a></li>
					<li><a href="data2-4-002.html">март 2016</a></li>
					<li><a href="data2-4-003.html">апрель 2016</a></li>
					<li><a href="data2-4-004.html">май 2016</a></li>
				</ul>
			</div>
		</div>
	</div>
</div>
