<div class="panel-group" id="accordion">
	<!-- 1 панель -->
	<div class="panel panel-primary">
		<!-- Заголовок 1 панели -->
		<a class='panel-heading' data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
			<h4 class="panel-title">Права несовершеннолетних детей</h4>
		</a>
		<!-- Содержимое 1 панели -->
		<div id="collapseOne" class="panel-collapse collapse">
			<div class="panel-body">
				<ul>
					<li><a href="data3-1-001.html">Право ребёнка жить и воспитываться в семье</a></li>
					<li><a href="data3-1-002.html">Право ребёнка на общение с родителями и другими родственниками</a></li>
					<li><a href="data3-1-003.html">Право ребёнка на защиту</a></li>
					<li><a href="data3-1-004.html">Право ребёнка выражать свое мнение</a></li>
				</ul>
			</div>
		</div>
	</div>

	<!-- 2 панель -->
	<div class="panel panel-primary">
		<!-- Заголовок 2 панели -->
		<a class='panel-heading' data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">
			<h4 class="panel-title">Права и обязанности родителей</h4>
		</a>
		<!-- Содержимое 2 панели -->
		<div id="collapseTwo" class="panel-collapse collapse in">
			<div class="panel-body">
				<ul>
					<li><a href="data3-2-001.html">Равенство прав и обязанностей родителей</a></li>
					<li><a href="data3-2-002.html">Права несовершеннолетних родителей</a></li>
					<li><a href="data3-2-003.html">Права и обязанности родителей по воспитанию и образованию детей</a></li>
					<li><a href="data3-2-004.html">Права и обязанности родителей по защите прав и интересов детей</a></li>
				</ul>
			</div>
		</div>
	</div>

	<!-- 3 панель -->
	<div class="panel panel-primary">
		<!-- Заголовок 3 панели -->
		<a class='panel-heading' data-toggle="collapse" data-parent="#accordion" href="#collapseThree">
			<h4 class="panel-title">Советы психолога</h4>
		</a>
		<!-- Содержимое 3 панели -->
		<div id="collapseThree" class="panel-collapse collapse">
			<div class="panel-body">
				<ul>
					<li><a href="data3-3-001.html">Общие рекомендации</a></li>
					<li><a href="data3-3-002.html">10 воспитательных действий для родителей</a></li>
					<li><a href="data3-3-003.html">Как помочь ребёнку достичь успеха в школе</a></li>
					<li><a href="data3-3-004.html">Что могут сделать родители</a></li>
				</ul>
			</div>
		</div>
	</div>
</div>
