<!-- В отличии от header.html добавлен только один класс - "navbar-fixed-top" -->
<!-- в первой строчке кода что бы сделать обычное меню без изысков -->
<!-- Также изменены ссылки href в пунктах меню на файл index.html -->

<header role="banner" id="fh5co-header" class="navbar-fixed-top">
	<div class="container">
		<!-- Планка бренд-меню -->
		<nav class="navbar navbar-default">
			<!-- Заголовок планки -->
			<div class="navbar-header">
				<!-- Кнопка мобильного меню -->
				<a href="#" class="js-fh5co-nav-toggle fh5co-nav-toggle" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar"><i></i></a>
				<!-- Логотип -->
				<a class="navbar-brand" href="index.html">Математи4ка</a>
			</div> <!-- end Заголовок планки -->
			<!-- Меню -->
			<div id="navbar" class="navbar-collapse collapse">
				<!-- Линейка меню. Таких линеек может быть несколько -->
				<ul class="nav navbar-nav navbar-right ">
					<li><a href="index.html#fh5co-home"><span>Начало</span></a></li>
					<li class="active"><a href="index.html#fh5co-work"><span>Работа</span></a></li>
					<li><a href="index.html#fh5co-testimonials"><span>Отзывы</span></a></li>
					<li><a href="index.html#fh5co-services"><span>Скилы</span></a></li>
					<li><a href="index.html#fh5co-about"><span>Обо мне</span></a></li>
					<li><a href="index.html#fh5co-contact"><span>Контакты</span></a></li>
				</ul> <!-- end Линека меню -->
			</div> <!-- end Меню -->
		</nav> <!-- end Планка бренд-меню -->
	</div>
</header>
