// Intro
#fh5co-intro {
	.fh5co-block {
		&:hover, &:focus {
			.icon-direction {background-position: 0 22.25705329153605%;}
			.icon-parents {background-position: 0 59.09090909090909%;}
			.icon-square {background-position: 0 78.36990595611286%;}
		}
	}
}

// Counters
#fh5co-counters {
	.fh5co-counter {
		.fh5co-counter-icon {
			margin: 0 auto;
		}
		.icon-parents {
			height: 40px;
			background-size: 55px auto;
		}
	}
}

